@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <span class="text-black-50">Mais Sobre...</span>
    <p>Sistema de Gestão e Controle do Sport Clube Sol Nascente.</p>
    <p>O <b> Sport Clube Sol Nascente</b>, com o objetivo de tornar ainda mais transperênte e dirimir o litígio quanto aos recursos financeiros, tampouco, a segurança dos dados dos atletas e membros 
    deste grupo, buscou junto ao corpo competente o desenvolvimento e implantação do <b class="text-danger">SysWebSolNascente</b>, um sistema de Gestão e Controle para agilizar a consulta e dos seus valores em Débito x Crédito!</p>
    <span>Data: 09/03/2019 - Autor &bull; Desenvolvedor: <a href="mailto:developeb@outlook.com"> Eduardo Barros</a></span> 
    <address>
        <progress></progress><br />
        Sede: <br /> Rua Travessa João Alberto, Jardim Nova Esperança, Salvador - Bahia/Brasil
              <br />Rede Sociais:
              <br /><a ></a> <meta property="og:url" content="https://www.facebook.com/SportSolNascente/?ref=bookmarks" /> Facebook / 
        Instagram
    </address>
</div>
