@{
    ViewData["Title"] = "Política de Privacidade";
}
<div class="card border-primary mb-4" style="max-width: 60rem;">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <p>
            Nossa <b>Política de Privacidade</b> é regida pela <b>
                <a href="http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2018/Lei/L13709.htm">
                    Lei Geral de Proteção de Dados
                    Pessoais
                </a>
            </b> nº 13.709 de 14 de agosto de 2018, onde em seu Art. 2º Inciso I - o respeito a privacidade é um dos nossos pilares para proteção e guarda dos dados.
        </p>
    </div>
</div>


<div class="card border-primary mb-4" style="max-width: 60rem;">
    <div class="card-header">Segurança de Dados</div>
    <div class="card-body">
        <p>
            O site é injeçado com criptografia no tráfego de dados, garantindo assim, a não captação das informações trafegadas por usuários de conhecimentos técnicos elevados,  
            com objetivos maliciosos no uso das informações.
        </p>
    </div>
</div>

<div class="card border-primary mb-4" style="max-width: 60rem;">
    <div class="card-header">Guarda das Informações</div>
    <div class="card-body">
        <p>Com o banco de dados em núvem disponibilizado em serviços garantidos pela<a href="https://azure.microsoft.com/pt-br/overview/security/"> Microsoft</a>. </p>
    </div>
</div>
