@model SolNWebApp.Models.ViewModels.AtletaFormViewModel

@{
    ViewData["Title"] = "Nova situação do atleta";
}

<h1>@ViewData["Title"]</h1>

<h4>Situação do Atleta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Situacao.Atleta.Nome" class="control-label"></label>
                <select asp-for="Situacao.Atleta.Nome" asp-items="@(new SelectList(Model.Atletas, "Id","Nome" ))" class="form-control" required>
                    <option disabled selected value="-1">--Selecione o Atleta--</option>

                </select>
                <span asp-validation-for="Situacao.Atleta.Nome" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Situacao.Situacao" class="control-label" onchange="copiaEntreSelects(this.value);"></label>
                <select asp-for="Situacao" class="form-control" required>
                    <option value="--Selecione--" disabled selected> --Selecione--</option>
                    <option value="0"> Ativo</option>
                    <option value="1"> Desligado</option>
                    <option value="2"> DM</option>
                    <option value="3"> Suspenso</option>
                    <option value="4"> Viagem</option>
                </select>
                <span asp-validation-for="Situacao.Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao.Status" class="control-label"></label>
                <select asp-for="Situacao.Status" class="form-control" required>
                    <option value="-1" disabled selected> --Selecione o Status--</option>
                    <option value="0"> Apto</option>
                    <option value="1"> Inapto</option>
                </select>
                <span asp-validation-for="Situacao.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao.Data" class="control-label"></label>
                <input asp-for="Situacao.Data" class="form-control" />
                <span asp-validation-for="Situacao.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacao.Valor" class="control-label"></label>
                <input asp-for="Situacao.Valor" class="form-control" />
                <span asp-validation-for="Situacao.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
