@model SolNWebApp.Models.SituacaoDoAtleta

@{
    ViewData["Title"] = "Ediçao do Atleta ";
}

<h1> @ViewData["Title"]</h1>

<h4>Detalhes do Atleta para edição</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control" required>
                    <option value="--Selecione--" disabled selected> --Selecione--</option>
                    <option value="0"> Ativo</option>
                    <option value="1"> Desligado</option>
                    <option value="2"> DM</option>
                    <option value="3"> Suspenso</option>
                    <option value="4"> Viagem</option>
                </select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" required disabled>
                    <option value="--Selecione--" disabled selected> --Selecione--</option>
                    <option value="0"> Apto</option>
                    <option value="1"> Inapto</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" disabled />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
